#mainBody{
	padding-left:8%;
	padding-right:8%;
}

#myInput {
    background-image: url('searchIcon.png'); /* Add a search icon to input */
    background-position: 0px 2px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#footer{
	background-color:#444;
	width:100%;
	padding:.7%;
	margin-top:3%; 	
	color:#AAA;
}

 .description{
	text-align:center; 
 }

#footer{
	text-align:center; 
 } 

 .content{
	padding-top: 9%;
	
}